In [ ]:

pip install create_engine

In [8]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [9]:
order_df = pd.read_csv("data/orders.csv").sample(10000)

In [10]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3407686,3368832,205399,prior,13,1,9,4.0
1293291,3416661,77780,prior,9,4,10,24.0
2944934,1337194,177704,prior,5,1,16,30.0
646787,2041547,38955,prior,20,2,12,1.0
2200702,1006269,132500,prior,2,4,19,30.0

In [11]:
aisles_df = pd.read_csv("data/aisles.csv")
departments_df = pd.read_csv("data/departments.csv")
order_products_df = pd.read_csv("data/order_products.csv").sample(10000)
products_df = pd.read_csv("data/products.csv")

In [12]:
aisles_df.head()

   aisle_id                       ailse
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [13]:
order_products_df.head()

          order_id  product_id  add_to_cart_order  reordered
26038684   2745961       12099                  8          1
13060455   1378554       46906                 13          0
23666435   2496020       20842                  2          1
29571393   3118714       42701                 19          1
21191595   2235205        7413                  5          1

In [14]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [16]:
#connection
try:
    conn = psycopg2.connect(dbname="e_comm", user='postgres', password='2322', port='5432')
except:
    print("connection was unsuccessful")

In [17]:
cur = conn.cursor()

In [18]:
engine = create_engine('postgresql+psycopg2://postgres:2322@localhost/e_comm')

In [19]:
cur.execute("""
CREATE TABLE IF NOT EXISTS aisles (
    aisle_id INTEGER PRIMARY KEY,
    ailse VARCHAR
)
""")

In [20]:
cur.execute("""
CREATE TABLE IF NOT EXISTS departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [21]:
cur.execute("""
CREATE TABLE IF NOT EXISTS products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [22]:
cur.execute("""
CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER )
""")

In [23]:
cur.execute("""
CREATE TABLE IF NOT EXISTS order_products (
        order_id INTEGER,
        product_id INTEGER,
        add_to_cart_order INTEGER,
        reordered INTEGER,
        PRIMARY KEY (order_id, product_id),
        FOREIGN KEY (order_id) REFERENCES orders (order_id),
        FOREIGN KEY (product_id) REFERENCES products (product_id))
""")

In [35]:
cur = conn.cursor()

try:
    # Rollback any previous failed transaction
    conn.rollback()

    # Now try to create the table
    cur.execute("""
        CREATE TABLE IF NOT EXISTS order_products (
            order_id INTEGER,
            product_id INTEGER,
            add_to_cart_order INTEGER,
            reordered INTEGER,
            PRIMARY KEY (order_id, product_id),
            FOREIGN KEY (order_id) REFERENCES orders (order_id),
            FOREIGN KEY (product_id) REFERENCES products (product_id)
        )
    """)
    conn.commit()

except errors.DuplicateTable:
    print("Table 'order_products' already exists.")
except (Exception, errors.DatabaseError) as error:
    print("Error:", error)
    conn.rollback()  # Rollback the transaction in case of any error

In [24]:
conn.commit()

In [25]:
order_df.drop('eval_set', inplace=True, axis=1)

In [26]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [27]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [28]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [29]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

1000

In [ ]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)

In [52]:
order_products_df.drop_duplicates(subset=['order_id', 'product_id'], inplace=True)

In [59]:
from sqlalchemy import text

# Open a new connection
with engine.connect() as connection:
    # Get the set of existing order_ids in the orders table
    existing_order_ids = connection.execute(text("SELECT order_id FROM orders")).fetchall()
    existing_order_ids = {row[0] for row in existing_order_ids}

    # Filter out rows where order_id is not present in the orders table
    filtered_df = order_products_df[order_products_df['order_id'].isin(existing_order_ids)]

    # Insert only the filtered rows into the order_products table
    for index, row in filtered_df.iterrows():
        connection.execute(text(insert_query), parameters=row.to_dict())